<h1 class="heading-primary">Upcoming Events</h1>
<div class="card card-prup">
    <h1 class="heading-secondary">NodeJS Workshop</h1>
    <h2 class="heading-tertiary">by Reva ACM club</h2>

    <div class="paragraph">
    Learn building webapp using pure NodeJS. NO NPM REQUIRED !
    </div>

    <a href="#" class="btn btn--white">Register</a>
</div>

<div class="card card-grn">
    <h1 class="heading-secondary">Disruptive AI</h1>
    <h2 class="heading-tertiary">by Reva ACM club</h2>

    <div class="paragraph">
        How AI is disruptive as well as supportive for jobs
    </div>

    <a href="#" class="btn btn--white">Register</a>
</div>
